.flex-center{
    padding: 10px;
}
.flex-center a{
    font-size: 1.2em;
    font-weight: bolder;
    padding: 10px;
}

.container-fluid .row{
    text-align: center;
}
.acesso{
    text-align: center;
}
.acesso a{
    background: whitesmoke;;
    font-size: 2.3em;
    border-radius: 10px;
    margin: 10px 0px;
}